<h1>Welcome</h1>
<% @questions.each do |q| %>
<div class="media">
  <img src="<%= q.gravatar %>" class="mr-3" size="100x100">
  <div class="media-body">
    <h5 class="mt-0">
      <%=	 q.email %> asked
    </h5>
    <span class="card-subtitle"><%= time_ago_in_words q.created_at %> ago</span>

    <p>
      <%= q.body %>
    </p>

    <div class="btn-group btn-group-sm">
      <a class="btn btn-success" href="<%=	 question_path(q) %>">View Answers</a>
    </div>
  </div>
</div>
<% end %>
