<p id="notice"><%= notice %></p>

<p>
  <strong>Complete:</strong>
  <%= @todo_list_item.complete %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @todo_list_item.due_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @todo_list_item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_list_item.description %>
</p>

<%= link_to 'Edit', edit_todo_list_item_path(@todo_list_item) %> |
<%= link_to 'Back', todo_list_items_path %>
